<!DOCTYPE html>
<html>
  <head>
    <title>RailsConf 2014 - Battleship</title>

    <link rel="stylesheet" type="text/css" href="css/app.css" media="all" />
  </head>
  <body>

    <div id="main" ng-app="app" ng-controller="gameCtrl">
      <h1>{{ 1 + 1 }}</h1>


      <form id="fire-control" action="">
        <input id="coordinates" type="text" ng-model="shot" placeholder="A1">
        <input id="fire" type="button" value="Fire!">
        <span id="game-status" class="status">{{ shot }}</span>
      </form>

      <table class="grid">
        <tr>
          <th></th>
          <th ng-repeat="header in grid.columnHeaders">{{ header }}</th>
        </tr>
        <tr ng-repeat="row in grid.rows">
          <th>{{ row.header }}</th>
          <th ng-repeat="square in row.squares" class="square">{{ square.note }}</th>
        </tr>
      </table>
    </div>

    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
