<!DOCTYPE html>
<html>
  <head>
    <title>Battleship</title>

    <link rel="stylesheet" type="text/css" href="css/app.css" media="all" />
  </head>
  <body ng-app="app" ng-controller="gameCtrl">

    <h2>Status: {{ game.status() }}</h2>

    <div class="fire-control">
      <input type="text" ng-model="shot">
      <input type="button" value="Fire!" ng-click="game.fire(shot)">
    </div>

    <table class="grid">
      <tr>
        <th></th>
        <th ng-repeat="columnHeader in game.columnHeaders">
          {{ columnHeader }}
        </th>
      </tr>
      <tr ng-repeat="rowHeader in game.rowHeaders">
        <th>{{ rowHeader }}</th>
        <td ng-repeat="columnHeader in game.columnHeaders">
          {{ game.note(rowHeader + columnHeader) }}
        </td>
      </tr>
    </table>

    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
